<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve Members</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/approveMember.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
    <div class="main">

        <header>
            <div class="navbar">
              <a href="/homePage"><img class="somaiya-logo-main" src="{{ url_for('static', filename='Photos/logo_somaiya.png') }}" alt="somaiya-logo"></a>
                <button class="logoutBtn">Logout
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>
            </div>
        </header>

        <div id="sidebar">
          <a href="/approveCertificate"><button class="nav-btn">Approve Certificate</button></a>
          <a href="/approveMember"><button class="nav-btn">Approve Member</button></a>
          <a href="/approveActivity"><button class="nav-btn">Approve Activity</button></a>
        </div>
        <div id="side-nav">
          <span onclick="toggleNav()">&#9776;</span>
        </div>
      
        <div class="content">

            <div class="txt">
              <h1>MEMBERS</h1>
            </div>

            <div class="search-container">
                <input type="search" id="search-input" placeholder="Search...">
                <button id="search-btn">Search</button>
            </div>

            <div class="table-container">
                <table id="myTable">
                    <thead>
                      <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>Gaurav</td>
                        <td>Engineer</td>
                        <td>
                          <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>Rohit</td>
                        <td>Manager</td>
                        <td>
                          <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>Rahil</td>
                        <td>Failure</td>
                        <td>
                          <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>Gaurav</td>
                        <td>Engineer</td>
                        <td>
                          <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>Rohit</td>
                        <td>Manager</td>
                        <td>
                          <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>Gaurav</td>
                        <td>Engineer</td>
                        <td>
                          <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>Rahil</td>
                        <td>Failure</td>
                        <td>
                          <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                        </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            <div class="approve-container">
                <button id="approve-btn">Approve</button>
            </div>

            <div id="overlay">
              <div id="overlayContent">
                <div class="popup-content">
                  <div class="closebtn">
                    <button id="closeButton">✖ Close</button>
                  </div>
                  <div>
                    <span>First Name</span>
                    <input id="firstName">
                  </div>
                  <div>
                    <span>Last Name</span>
                    <span id="lastName"></span>
                  </div>
                  <div>
                    <span>Designation</span>
                    <span id="designation"></span>
                  </div>
                  <div>
                    <span>Branch</span>
                    <span id="branch"></span>
                  </div>
                  <div>
                    <span>Year</span>
                    <span id="year"></span>
                  </div>
                  <div>
                    <span>Roll No.</span>
                    <span id="rollNo"></span>
                  </div>
                  <div>
                    <span>Email ID</span>
                    <span id="email"></span>
                  </div>
                  <div>
                    <span>Contact No.</span>
                    <span id="contact"></span>
                  </div>
                  <div class="approveBtn">
                    <button id="approveButton" style="background-color: #4CAF50;">Approve</button>
                    <button id="declineButton" style="background-color: #f44336;">Decline</button>
                  </div>
                </div>
              </div>
            </div>

            <div id="overlay-reject">
              <div id="reject-content">
                  <div class="reason">
                  <label for="reason">Reason for Decline:</label><br>
                  <textarea id="reason" name="reason" rows="4" cols="50" required></textarea>
                  </div>
                  <div class="reasonBtn">
                      <button id="cancelBtn" style="background-color: #d9d9d9;">Cancel</button>
                      <button id="declineBtn" style="background-color: #f44336;">Decline</button>
                  </div>
              </div>
            </div>

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/approveMember.js') }}"></script>
</body>
</html>
