<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Activity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewActivity.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
    <div class="main">

        <header>
            <div class="navbar">
                <a href="/homePage"><img class="somaiya-logo-main" src="{{ url_for('static', filename='/Photos/logo_somaiya.png') }}" alt="somaiya-logo"></a>
                <button class="logoutBtn">Logout
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>
            </div>
        </header>

        <div id="sidebar">
            <a href="/viewCertificate"><button class="nav-btn">View Certificate</button></a>
            <a href="/viewMember"><button class="nav-btn">View Member</button></a>
            <a href="/viewActivity"><button class="nav-btn">View Activity</button></a>
            <a href="/viewPending"><button class="nav-btn">View Pending Approvals</button></a>
            <!-- <a href="/Summary_new"><button class="nav-btn">Summary</button></a> -->
        </div>

        <div id="side-nav">
            <span onclick="toggleNav()">&#9776;</span>
        </div>

        <div class="content">

            <div class="txt">
              <h1>View Activity</h1>
            </div>

            <div class="search-container">
                <input type="search" id="search-input" placeholder="Search...">
                <button id="search-btn">Search</button>
            </div>

            <div class="table-container">
                <table id="myTable">

                    <thead>
                      <tr>
                        <th>Date of Activity</th>
                        <th>Activity Name</th>
                        <th>View</th>                        
                      </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>38-34-2563</td>
                            <td>Elimination</td>
                            <td>
                                <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                            </td>
                        </tr>
                        <tr>
                            <td>54-43-3453</td>
                            <td>Winner</td>
                            <td>
                                <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                            </td>
                        </tr>
                        <tr>
                            <td>17-23-4562</td>
                            <td>Participation</td>
                            <td>
                                <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                            </td>
                        </tr>
                        <tr>
                            <td>38-34-2563</td>
                            <td>Elimination</td>
                            <td>
                                <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                            </td>
                        </tr>
                        <tr>
                            <td>54-43-3453</td>
                            <td>Winner</td>
                            <td>
                                <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                            </td>
                        </tr>
                        <tr>
                            <td>38-34-2563</td>
                            <td>Elimination</td>
                            <td>
                                <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                            </td>
                        </tr>
                        <tr>
                            <td>54-43-3453</td>
                            <td>Winner</td>
                            <td>
                                <button class="viewButton"><img src="{{ url_for('static', filename='Photos/eye-solid.png') }}" alt="View"></button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="overlay">
                <div id="overlayContent">
                    <div class="popup-content">
                        <div>
                            <span>Activity type:</span>
                            <input id="activityType" readonly>
                        </div>
        
                        <div>
                            <span>Activity Name:</span>
                            <input id="ActivityName" readonly>
                        </div>
                        <div>
                            <span>Name of Organizing Students/Councils </span>
                            <input id="Organizers" readonly>
                        </div>
                        <div>
                            <span>Start Date</span>
                            <input id="startDate" readonly>
                            <span>End Date</span>
                            <input id="endDate" readonly>
                        </div>
        
                        <div>
                            <span>Target Audience: </span>
                            <input id="Audience" readonly>
                        </div>
        
                        <div>
                            <span>No of Hours</span>
                            <input id="Hours" readonly>
                        </div>
        
        
                        <div>
                            <span>No of Participants</span>
                            <input id="Participants" readonly>
                        </div>
        
                        <div>
                            <span>Description</span>
                            <textarea id="description" readonly></textarea>
                        </div>
                        <div>
                            <button id="viewCertificate">Pamphlets</button>
                            <button id="viewPhotos">Photos</button>
                        </div>
                        <button id="closeButton">✖ Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/viewActivity.js') }}"></script>
</body>
</html>